<h2>This is Sidebar</h2>

<ul class="nav">
    <li routerLinkActive="active" *ngFor="let menu of menuItem" class="{{menu.class}} nav-item">
        <a [routerLink]="[menu.path]">
            <i class="material-icons">{{menu.icon}}</i> 
            <p>{{menu.title}}</p>
        </a>
    </li>
</ul>