$font-family-base: "europa", sans-serif !default;
$font-family-proxima: "proxima-soft", sans-serif;
$font-size-base:15px;
$button-font:14px;
$button-lineheight:18px;
$button-letter:1.4px;
$button-font-medium:16px;
$button-font-large:18px;
$font-weight-light:300;
$font-weight-base:400;
$font-weight-medium:500;
$font-weight-semi:600;
$font-weight-bold:700;
$lineheight-base:19px;
$color-base:#655F71;
$color-white: #ffffff;
$color-black:#302E34;
$color-green:#83B202;
$color-blue: #0EA8C2;
$color-orange:#FBBB00; 
$color-pink: #DD697B;
$color-teal: #50BAB2;
$color-pink-light: #B47289;
$color-grey: #655F71;
$main-bg :#EDF6F7