<div class="container">
    <div class="flex space-between header-inner">
        <div class="heade-left"><h4>Secado Estate Agents <span>KT10 9FJ</span></h4></div>
        <div class="heade-right"></div>
    </div> 
</div>
