/* You can add global styles to this file, and also import other style files */
 @import "variable.scss";

 body {margin: 0;}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block;}audio,canvas,progress,video {display: inline-block;vertical-align: baseline;}audio:not([controls]) {display: none;height: 0;}[hidden],template {display: none;}a {background-color: transparent;}a:active,a:hover {outline: 0;}abbr[title] {border-bottom: 1px dotted;}b,strong {font-weight: 500;}dfn {font-style: italic;}h1 {font-size: 2em;margin: 0.67em 0;}mark {background: #ff0;color: #000;}small {font-size: 80%;}sub,sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}sup {top: -0.5em;}sub {bottom: -0.25em;}img {border: 0;}svg:not(:root) {overflow: hidden;}figure {margin: 1em 40px;}hr {box-sizing: content-box;height: 0;}pre {overflow: auto;}code,kbd,pre,samp {font-family: monospace, monospace;font-size: 1em;}button,input,optgroup,select,textarea {color: inherit;font: inherit;margin: 0;}button {overflow: visible;}button,select {text-transform: none;}button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}button[disabled],html input[disabled] {cursor: default;}button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}input {line-height: normal;}input[type="checkbox"],input[type="radio"] {box-sizing: border-box;padding: 0;}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}fieldset {border: 1px solid #c0c0c0;margin: 0 2px;padding: 0.35em 0.625em 0.75em;}legend {border: 0;padding: 0;}textarea {overflow: auto;}optgroup {font-weight: bold;}table {border-collapse: collapse;border-spacing: 0;}td,th {padding: 0;}
html {-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%; }
 html, body {}
body { margin: 0; padding: 0; font-family: $font-family-base; font-size: $font-size-base; line-height: $lineheight-base;color:$color-base;letter-spacing: 0px;background: $main-bg;}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
img, span {border: none;}
img {max-width: 100%; height: auto;}
*,*:before,*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.color-base {color:$color-base;}
.color-white {color:$color-white;}
.color-black {color:$color-black;}
.color-green {color:$color-green;}
.color-blue {color:$color-blue;}
.color-orange {color:$color-orange; }
.color-pink {color:$color-pink};
.color-teal {color:$color-teal;}
.color-pink-light {color:$color-pink-light;}
.color-grey {color:$color-grey;}

.bg-base {color:$color-base;}
.bg-white {color:$color-white;}
.bg-black {color:$color-black;}
.bg-green {color:$color-green;}
.bg-blue {color:$color-blue;}
.bg-orange {color:$color-orange; }
.bg-pink {color:$color-pink};
.bg-teal {color:$color-teal;}
.bg-pink-light {color:$color-pink-light;}
.bg-grey {color:$color-grey;}

input[type="search"], 
input[type="text"], 
input[type="email"], 
input[type="password"], 
input[type="tel"], 
input[type="number"], 
textarea {
    padding:12px 14px;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    letter-spacing: 0;
    width: 100%;
    color: $color-black;
    text-transform: none;
    filter: alpha(opacity=100);
    border: none; 
    border: 2px solid #EDF0F0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height:19px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    outline: none !important; 
    background:$color-white; 
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
    resize: none;
}
input::-webkit-input-placeholder {
    color:$color-black;
    opacity:0.3;
}
input:-moz-placeholder {
    color:$color-black; 
    opacity:0.3;
}
input::-moz-placeholder {
    color:$color-black; 
    opacity:0.3;
}
input:-ms-input-placeholder {
    color:$color-black;
    opacity:0.3;
}
textarea::-webkit-input-placeholder {
    color:$color-black; 
    opacity:0.3;
}
textarea:-moz-placeholder {
    color: $color-black; 
    opacity:0.3;
}
textarea::-moz-placeholder {
    color: $color-black; 
    opacity:0.3;
}
textarea:-ms-input-placeholder {
    color:$color-black;
    opacity:0.3; 
}
input[type="search"]:focus, 
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
input[type="tel"]:focus, 
input[type="number"]:focus, 
textarea:focus {
    outline: none;
}
a { 
    color: $color-blue; 
    font-weight: $font-weight-base; 
    transition: all 0.5s; 
    -webkit-transition: all 0.5s; 
    -moz-transition: all 0.5s; 
    text-transform: none;  
    display: inline-block; 
    text-decoration: none;
    &:hover, &a:focus, &a:active {
        text-decoration: none; 
        outline:none; 
    }
}
ul,ol {
    margin: 0 0 20px 0px; 
    padding: 0 0 0 0; 
}
ul li, ol li {
    position: relative; 
    padding: 0 0 0 18px; 
    margin: 0 0 8px 0; 
    text-align: left; 
}
h1,h2,h3,h4,h5,h6, .h1,.h2,.h3,.h4,.h5,.h6  {
    font-family:$font-family-proxima; 
    color: $color-black; 
    font-weight: $font-weight-semi; 
    line-height: 1;
}
h1, .h1 { font-size:32px;  margin: 0 0 10px; letter-spacing: -1.12px;}
h2, .h2 { font-size:28px; margin: 0 0 10px; letter-spacing: -1.12px;}
h3, .h3 { font-size:21px; margin: 0 0 10px;}
h4, .h4 { font-size:18px;font-weight: $font-weight-bold; margin: 0 0 10px;letter-spacing: -1.12px;}
h5, .h5 { font-size:16px;font-weight: $font-weight-bold;margin: 0 0 10px;}
h6, .h6 { font-size:16px;font-weight: $font-weight-bold; margin: 0 0 10px;}
.button, 
button, 
html 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
    font-family: $font-family-base;
    margin: 0 0 0 0;  
    padding:13px 33px 13px 33px; 
    background-color:$color-blue; 
    border:none; 
    border-radius: 5px; 
    display: inline-block; 
    vertical-align: middle; 
    font-weight: $font-weight-bold;
    color: $color-white; 
    font-size: $button-font;
    line-height: $button-lineheight; 
    letter-spacing: $button-letter; 
    outline: none;
    text-transform: uppercase;
    box-shadow: none;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; 
    &:hover {
        opacity: 0.7;
    }
}
p { margin: 0 0 40px;}
p:last-child {
    margin-bottom: 0 !important;
}
.small {
    font-size:82%; line-height:21px;
}
.small small {
    font-size: 100%;
}
.text-transform-none {
    text-transform: none;
}
.letter-spacing-none {
    letter-spacing: 0;
}
.button-with-space {
    margin: 0 11px;
}
.flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.flex-direction-column {
    flex-direction: column;
}
.flex-direction-row {
    flex-direction: row;
}
.flex-direction-row-reverse {
    flex-direction: row-reverse;
}
.flex-direction-column-reverse {
    flex-direction: column-reverse;
}
.text-center {
    text-align: center;
}
.no-wrap {
    flex-wrap: nowrap; 
    -webkit-flex-wrap: nowrap; 
    -moz-flex-wrap: nowrap;
}
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1552px;
    width: 100%;
}

/****** Navigation ******/
.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 228px;
  height: 100%;
  overflow: auto;
  background-color: $color-black;
}
.header {
    margin: 0;
    padding: 30px 0 0;
    display: block;
    .heade-left {
        h4 {
            margin: 0;
            span {
                padding: 0 0 0 17px;
                font-size: 12px;
                color: $color-base;
                font-family: $font-family-base;
                font-weight: $font-weight-base;
                letter-spacing: 0;
            }
        }
    }
}
/****** Content Part ******/
.content-part {
    margin-left:228px;
}